ClassicThesis.fls
ClassicThesis.log
ClassicThesis.out
ClassicThesis.pdf
ClassicThesis.synctex.gz
ClassicThesis.toc
ClassicThesis.xmpi
ClassicThesis.xmpdata
ClassicThesis.bbl
ClassicThesis.blg
ClassicThesis.run.xml
ClassicThesis.fdb_latexmk
ClassicThesis.aux
ClassicThesis-blx.bib
*.aux